include README.md
recursive-include data *
recursive-include model *
recursive-include test *
recursive-include 18Mid *
recursive-include app *
recursive-include temp *
recursive-include querySeq *
recursive-include result *

